@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
*{
    padding: 0;
    margin: 0;
}
.box{
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 1%;
    height: 700px;
    border: solid 10px black;
    background-color:white;
    border-radius: 70px 70px 90px 90px;
}
.head{
    height: 190px;
    width: 390x;
    background-color: #075e54;
    border-radius: 60px 60px 0 0;
}
.head2{
    display: flex;
    justify-content: space-between;
}
.icon{
    height: 30px;
    width: 30px;
    margin-top: 50px;
    margin-right: 15px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
    font-size: xx-large;
    color:white;
    margin-left: 15px;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    margin-left: 15px;
}
.head4{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.camera{
    height: 20px;
    width: 20px;
}
.profile{
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.main1{
    display: flex;
    border-bottom: solid 1px rgb(163, 163, 163); 
}
.content{
    margin: 15px;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.new{
    z-index:1;
    height: 70px;
    width: 70px;
    box-shadow: 5px 5px 5px 5px rgb(128, 128, 128);
    border-radius: 40px;
}